<link rel="stylesheet" href="/stylesheets/about.css">

<div class="col-md-2"></div>
<div class="col-lg-8 col-sm-8 center">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="/images/itsme.jpg">
    </div>
    <div class="useravatar">
      <img alt="" src="/images/itsme.jpg">
    </div>
    <div class="card-info"> <span class="card-title">Jeremy Kaffrey</span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><i class="fa fa-info" aria-hidden="true"></i></span>
        <div class="hidden-xs">About Me</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
        <div class="hidden-xs">Projects</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
        <div class="hidden-xs">Links</div>
      </button>
    </div>
  </div>

  <div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <p>
          I'm a software developer and a graphics designer. I learned to program because I love the challenge. I've done various projects for numerous companies and organizations such as Colorado State University. I attempted to attend CSU for a computer science degree for 3 years, unfortunately I had to remove myself from the program for unforeseen circumstances. Luckily I found the Galvanize program and it has turned out to be a great fit for me.
        </p>
        <p>
          I have been programming since I was 13, which is when I wrote my first bot to play the MORPG RuneScape for me. I have been programming ever since and have found myself involved in various languages such as C, C++, C#, Java, VisualBasic and Javascript.
        </p>
        <p>
          Because of my education at Colorado State University, I have knowledge in various programming practices and principle, in addition I am adequately versed in the various algorithms associated with the trade.
        </p>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <h3>Inhabitable</h3>
        <p> <em>Technical: This game was developed entirely in JavaScript, JQuery, HTML and CSS. This resulted in some interesting challenges due to JavaScript's limited ability to create threads or timers, communicate with the server or draw to the screen. An HTML5 canvas element was used to draw the game board and a single JavaScript timer was used with a modulus check to 'simulate' multiple threads. An Agile workflow was used to keep on track and to complete all the challenges that were presented in the project.</em></p>
        <p> Inhabitable is a survival based game with no real end goal; however, the player needs to make sure that their "Funds" do not go into the negative. If this is to occur the player loses and therefore has to restart the game. Each building has a cost and resources that are required to build it. </p>
        <p> <a href="https://github.com/jkaffrey/Inhabitable-Q1_Project"><i class="fa fa-github" aria-hidden="true"></i> Github</a> </p>
        <hr />
        <h3>RideShare</h3>
        <p><em> Technical: This app was developed in JavaScript, Express, Handlebars, HTML, Bootstrap, CSS. It also utilizes the Google Maps API to autofill search queries on the webpage. </em></p>
        <p> RideShare is a web app inspired by the need to be environmentally friendly, travel frugally, and possibly meet great people along the way. This app is intended to connect drivers who have extra space in their car and want to share the ride with someone in need, whether it be to cut the cost of gas or have some company for the journey. Users can offer a ride for a specific date with a starting and ending location or simply search the site as a passenger looking for rides. For those who simply want to skim all available rides, there is a link to do so. The app also has an advanced search option where users can search by preferences, price, or number of available seats. Users can create a secure account and log in to either create an official ride offer, reserve a seat, view other users’ profiles and any reviews associated with them. </p>
        <p> <a href="https://github.com/foo-baristas/rideShare"><i class="fa fa-github" aria-hidden="true"></i> Github</a> </p>
        <hr />
        <h3>SilverFox</h3>
        <p><em> Technical: Our client-side application was built using React.js with a node.js server. For our server-side application we used PostgreSQL for our database, and node.js for our server. </em></p>
        <p> SilverFox was created as an online dating platform for seniors to find companionship and love. New members fill out basic demographic information, including a brief biography and special interests. Our unique matching algorithm uses that data to create meaningful matches. Our site allows members to view their matches and communicate using SilverFox messaging with those they are interested in exploring a relationship with. Our design priority was to make the site as easy as possible for seniors to use. Our fonts and buttons were designed intentionally large, the site’s navigation was made to be as simple as possible, and our forms were as user friendly as possible. Working as a group of five allowed us to experience peer-programming and incorporating inter-personal skills amongst our team. Our successes came from frequent and open communication, meetings throughout the day, and the setting of deadlines. </p>
        <p> <a href="https://github.com/242-Linden/"><i class="fa fa-github" aria-hidden="true"></i> Github</a> </p>
        <hr />
        <h3>CodeShare</h3>
        <p><em> Technical: CodeShare was design using NodeJS and Express for the brunt of the server side work. HandleBars was used to render the various page views. </em></p>
        <p> CodeShare is app designed to simplify paired programming. Once an individual signs up, they can then create repositories. These repositories contain a folder structure within them for file management. The files within these repositories can then be viewed and edited by multiple users at the sametime given they were invited to collaborate on the project. The repositiories also have a built in compiler where users can run their code live on the website and see the output. Users also have permissions on what they can do with repositories that they have access to. These roles are Owner, Admin, Collaborator, Viewer and Guest. Bellow is the permissions that are associated with each of these roles. </p>
        <p> <a href="https://github.com/jkaffrey/CodeShare"><i class="fa fa-github" aria-hidden="true"></i> Github</a> </p>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <h3>Contact Me</h3>
        <p>E-mail: <img src="/images/email.png"></p>
        <p><a href="http://www.linkedin.com/in/jeremy-kaffrey">LinkedIn</a> | <a href="https://github.com/jkaffrey">Github</a<</p>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below
    $(this).removeClass("btn-default").addClass("btn-primary");
  });
});
</script>
