<!-- <h5>Your unique room id is: <span id="roomName"></span></h5> -->
<div class="row">
  <div class="col-md-3">
    <div class="row fileTree panel panel-body">
      <span>Project: {{directory}}</span>
      <div id="fileTree"></div>
      <hr />
      <img class="imgButton" src="../images/file_delete.png" onclick="deleteItem()" />
      <img class="imgButton" src="../images/file_edit.png" onclick="renameItem()" />
      <img class="imgButton" src="../images/file_add.png" onclick="createFile()" />
    </div>
    <div class="row connectedUsers panel panel-body">
      <strong><span>Connected Clients</span></strong>
      <ul class="users">
      </ul>
      <hr />
      <span><strong>Recent Connections</strong></span>
      <ul class="recentConnections">
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <pre>
      <code contenteditable="true" id="codeArea">
        function helloWorld() {

          console.log('Hello World!');
        }

        hellowWorld();
      </code>
    </pre>
  </div>
</div>
