<!-- <textarea rows="30" cols="130" id="codeArea"></textarea> -->
<h5>Your unique room id is: <span id="roomName"></span></h5>
<pre>
  <code contenteditable="true" id="codeArea">
    function HelloWorld() {

      console.log('Hello World!');
    }
  </code>
</pre>
