<!-- <h5>Your unique room id is: <span id="roomName"></span></h5> -->
<pre>
  <code contenteditable="true" id="codeArea"> <!-- class="language-css"> -->
    function HelloWorld() {

      console.log('Hello World!');
    }
  </code>
</pre>
