<!-- <h5>Your unique room id is: <span id="roomName"></span></h5> -->
<div class="row">
  <div class="col-md-3">
    <div class="row fileTree panel panel-body">
      Hello
    </div>
  </div>
  <div class="col-md-9">
    <pre>
      <code contenteditable="true" id="codeArea">
        function HelloWorld() {

          console.log('Hello World!');
        }
      </code>
    </pre>
  </div>
</div>
