<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
  <link rel="stylesheet" href="/stylesheets/prism.css">
  <link rel="stylesheet" href="/stylesheets/ctexteditor.css">
  <link rel="stylesheet" href="/stylesheets/loginStyle.css">
  <link rel="stylesheet" href="/stylesheets/themes/default/style.css">


  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="/javascripts/jstree.min.js"></script>
  <script src="/javascripts/code.js"></script>
  <script src="/javascripts/treeView.js"></script>

</head>
<body>
  {{{body}}}
</body>
</html>
