code {

  outline: none;
}

pre {
  background-color: white;
  height: 100%;
  padding: 20px;
  width: 95%;
  -webkit-box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);
  -moz-box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);
  box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);

}

.panel {

  -webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.5);
}

.displayCode {

  /* Maybe change */
  height: 95vh;
}

#codeArea {

  position: relative;
  display: inline-block;
}

#runCode, #waitingCode {

  padding-top: 3px;
}

#consoleOutput {

  position: relative;
  width: 100%;
  height: 80%;
  border: none;
  resize: none;
  background-color: #000;
  color: rgb(0, 215, 86);
}

.console {

  background-color: #000;
  color: #fff;
}

.red {

  color: rgb(255, 66, 66);
}

.green {

  color: rgb(186, 255, 91);
}

.fileTree {

  height: 300px;
}

.console {

  height: 150px;
}

.fileTree, .connectedUsers {

  overflow-y: scroll;
}

.fileTree, .connectedUsers, .console {

  margin-left: 10px;
  border: 1px solid black;
}

.users {

  list-style-image: url("https://cdn4.iconfinder.com/data/icons/fugue/icon/status.png");
  padding-left: 20px;
}

.recentConnections {

  list-style: none;
  padding-left: 0;
}

.fltBtn {

  float: right;
  padding-right: 15px;
}

.imgButton {

  width: 16px;
}

.imgButton:hover {

  cursor: pointer;
  opacity: .75;
}

.refreshView {

  position: absolute;
  bottom: 25px;
  right: 25px;
}

.refreshView:hover {

  opacity: 0.75;
  cursor: pointer;
}

/* File Functions Style */
.fileTree { position: relative; }
.navbar-xs { min-height:22px; border-radius: 10px; border: 0px; background-color: #fff; position: absolute; top: 0px; right: 0px; padding: 0px; margin: 0px; }
.dropdown > ul > li > a { color: #000; }
.navbar-xs .navbar-nav > li > ul > li > a > img { width: 16px }

/* Chat */
.chat_box{background:#fff;width:370px;height:363px;position:fixed;bottom:0px;right:14px;border:none;border-radius:5px 5px 0 0;-webkit-box-shadow:0 10px 50px 0 rgba(0,0,0,0.25);-moz-box-shadow:0 10px 50px 0 rgba(0,0,0,0.25);box-shadow:0 10px 50px 0 rgba(0,0,0,0.25);overflow:hidden;z-index:1000000;display:none}
.pesan_chat{padding:5px 5px 15px; background-color: #DFDFDF;}
.chatheader{margin:0 auto;padding:0 10px;height:35px;line-height:35px;font-size:16px;font-weight:700;color:#fff;text-align:left;display:block;cursor:pointer;background:#3a5897;cursor:move}
.chatheader:before{content:'\f111';font-family:fontawesome;color:#42b72a;font-size:12px;position:relative;top:-2px}
.close-chatfb{position:absolute;top:0;right:0;font-family:fontawesome;font-size:15px;font-weight:inherit;cursor:pointer;width:24px;color:#fff;height:35px;line-height:35px;text-align:center;opacity:.7}
.close-chatfb:hover,.maxi-chatfb:hover,.mini-chatfb:hover{opacity:1}
.close-chatfb:before{content:'\f00d';font-family:fontawesome}
.buttons.rounded{margin:40px 0 0;}
.buttons.rounded.buttons.rounded a{border:2px solid #2c4584;border-radius:35px;color:#2c4584;font-size:23px;padding:10px 21px;text-decoration:none;font-family:'Open Sans',sans-serif;}
.buttons.rounded a:hover{border:2px solid #138be6;border-radius:35px;color:red;color:#000;font-size:23px;padding:10px 21px;text-decoration:none;}
.popup-on{display:block!important;}
.social {width:100%;position: relative;min-height: 1px;padding:10px 0px 0px 20px;}

#messageList {

  height: 275px;
  max-height: 290px;
  overflow-y: scroll;
}

#messageList > p.stdMessage {

  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

#messageList > p.stdMessage > .sender {

  font-size: 10px;
  position: absolute;
  right: 7px;
  bottom: 5px;
}

#messageList > p.otherMessage {

  margin-right: 100px;
}

#messageList > p.ownMessage {

  margin-left: 100px;

}
