body, html {

  height: 100%;
  background: #666;
}

code {

  outline: none;
}

pre {
  background-color: white;
  height: 75%;
  padding: 20px;
  width: 95%;
  -webkit-box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);
  -moz-box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);
  box-shadow:
  1px 1px   0 rgba(0,   0,   0,   0.100),
  3px 3px   0 rgba(255, 255, 255, 1.0),
  4px 4px   0 rgba(0,   0,   0,   0.125),
  6px 6px   0 rgba(255, 255, 255, 1.0),
  7px 7px   0 rgba(0,   0,   0,   0.150);

}

#codeArea {

  position: relative;
  display: inline-block;
}

.fileTree, .connectedUsers {

  margin-left: 10px;
  border: 1px solid black;
}
